body {
    background-color: rgb(130, 170, 200);
  }
  
  .timer {
    margin: 50px 0;
    padding: 0;
    text-align: center;
  }

  .field {
    display: inline-block;
    color: white;
    font-size: 25px;
  }
  .field:not(:first-child) {
    margin-left: 30px;
  }
  .field:last-child{
    color: rgb(165, 18, 18);
  }
  
  .value {
    display: block;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
  }
  
  .label {
    display: block;
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
    font-style: normal;
    text-transform: uppercase;
  }
  